/* add content page */
.add-main-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
  /* display: none; */
}
.add-main-container .add-container {
  background-color: white;
  color: #165baa;
  animation: popupanim 0.5s;
}
.add-main-container .add-container form .ubloadBtn {
  background-color: dodgerblue;
  color: white;
}

.add-main-container .add-container form .cancelBtn {
  background-color: red;
  color: white;
}
/* view page */
.viewContainer,
.editContainer {
  width: 100%;
  height: 100vh;
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}
/* .viewContainer .maindiv{
width: 500px;
} */
.viewContainer .h3 {
  font-weight: bold;
  color: #6e20a7;
}

.viewContainer button {
  font-weight: bold;
}

.viewContainer p {
  font-size: 20px;
}

.viewContainer span {
  color: red;
}

.viewContainer .maindiv,
.editContainer .maindiv {
  background-color: #fff;
  animation: popupanim 0.5s;
}
/* @keyframes popupanim{
    from{
        transform: scale(0);       
    }
    to{
        transform: scale(1);       
    }
} */
.updateActivityCon .updateBtn {
  background-color: #b2bec3;
}
.updateActivityCon .updateBtn:hover {
  background-color: #104078;
  color: white;
}
.editContainer {
  color: #165baa;
}
