.lear_img {
    width: 100%;
    display: flex;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form .input_enter {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: px solid #ccc;
    outline: none;
}

form .input_enter:focus {
    border: 1px solid #6e20a7;
}
.header {
    color: #6e20a7;

}

.txt {
    font-weight: bold;
    color: black;
}

/* login */
.box_shad {
    box-shadow: 3px 3px 20px 10px #e5caf7;
    margin-top: 10%;
    align-items: center;
}