@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.box_shad{
    box-shadow: 3px 3px 20px 10px #e5caf7;
    margin-top: 50px;
}
.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.for_pwd{
    font-family: 'Roboto', sans-serif;
}
.for_pwd{
    color:  #1E40AF;
}
.for_pwd #e-mail{
    display: block; 
    background-color: #e5d2f3;
    border: none;
    border-radius: 10px;
    height: 40px;
    outline: none;
    width: 100%;
    min-width: 300px;
}
.bg_for{
    display: block; 
    border-radius: 10px;
    height:40px;
    width: 100%;
    font-size: 14px;
    background-color:#1E40AF;
    color: white;
    line-height: 1.3;
}
.bg_for:hover{
    color: #d8adf7;
}
.bg_for:focus{
    outline: none;
}

.for_pwd a{
    display: block;
    text-decoration: none;
    text-align: center;
    
}

.banner{
    max-width: 100%;
    display: flex;
    margin: auto;
}
@media only screen and (max-width: 575px){
    .box_shad{
        margin-top: 0px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 280px){
    .for_pwd #e-mail{
        min-width: 100%;
    }
   }