/* header */
.stu_main_container {
  margin-left: 200px;
  position: relative;
  transition: 0.4s;
}

.stu_act_head {
  background: linear-gradient(75deg, white, #a43931);
}
.stu_act_head .logo_sec img {
  width: 20%;
  min-width: 150px;
}
.prifile_info {
  position: relative;
  cursor: pointer;
}
.prifile_info .proInfo {
  z-index: 1000;
  display: none;
  /* width: 200px; */
  border-radius: 5px;
  padding: 10px;
  top: 50px;
  right: 0;
  position: absolute;
  background-color: #a43931;
}

.prifile_info .proInfo .proInfoCon {
  min-width: 200px;
}
.prifile_info .proInfo .name_sec {
  display: none;
}

.header_nav_bar .nav_item a {
  background-color: #0fa8f7;
}
.header_nav_bar .nav_item a:hover {
  background-color: white;
  color: #1377ab;
}
@media only screen and (max-width: 425px) {
  .prifile_info .name_sec {
    display: none;
  }
  .prifile_info .proInfo .name_sec {
    display: block;
  }
}

/* ***body*** */
.headerPANJABI {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 5px;
}

.insidetopic {
  color: #8943a7;
  font-weight: bold;
  font-size: 25px;
}

.text {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}

.terms {
  color: #8943a7;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

li {
  color: #000000;
  font-weight: 700;
  line-height: 1.6;
}

.h1,
h1 {
  font-size: 1.5rem;
}

.container-fluid {
  max-width: 1400px;
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1;
  border-radius: 1rem;
}

.img-hover-zoom--colorize img {
  border-radius: 50%;
  width: 150px;
  height: 190px;
  margin-top: 20px;
  padding: 1px;
  transition: transform 0.5s;
  /* filter: grayscale(100%); */
}

.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}

.card h5 {
  overflow: hidden;
  height: 80px;
  font-weight: 300;
  font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.role {
  color: #fff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  font-size: 1.5rem;
  color: darkgray;
  transition: transform 0.5s;
}

.fab:hover {
  color: black;
  transform: scale(1.1);
}

.card h2 {
  font-size: 1rem;
}

/* MEDIA */

@media only screen and (min-width: 1200px) {
  .img-hover-zoom--colorize img {
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
}

.col {
  color: #fff;
}

.btn {
  color: white;
  font-weight: bold;
}

body {
  background: linear-gradient(95deg, red, green);
}

/* backButton  start*/
#backHomePage {
  position: fixed;
  z-index: 1000;
  background-color: #a43931;
  width: 50px;
  left: 0;
  top: 100px;
  overflow: hidden;
  transition: 0.5s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#backHomePage:hover {
  width: 200px;
}

#backHomePage .backHomePageChild {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  color: white;
}
/* backButton end */

/* card style */
.card_main_Container .sudent_card {
  width: 250px;
  height: 300px;
  margin: 5px;
  border-radius: 10px;
}

/* student details edite */

.changeProfileContainer {
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#proInfo,
#passwordContainer {
  width: 500px;
  animation: popupanim 0.5s;
  display: none;
}

@keyframes popupanim {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.smallText {
  font-size: 12px;
  color: gray;
}
